.logo {
    animation: rotation 4s infinite linear;
    width: 100px;
}

.logo-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.logo-container--fade { 
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    animation: fade 1.2s forwards;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}